extends layout

block content

    script#filter-template(type="text/html")
        include templates/filter

    title(data-bind="text:pageTitle")

    .lme-toolbar: .btn-toolbar
        button.btn(data-bind="click:onClearClick")
            | Clear
        .btn-group
            .span1
        | <!-- ko template:{name:'filter-template', data:log.filter} -->
        | <!-- /ko -->
        button.pull-right.btn(data-bind="click:onGetCodeClick")
            i.icon.icon-list-alt
            | &nbsp;
            | Get code


    table.table.table-bordered.table-hover
        tbody(data-bind="foreach:log.filteredItems")
            tr(data-bind="click:$root.onRowClick, css:{'info':$root.currentItem() === $data}")
                td
                    span.label(data-bind="text:type, css:{'label-success':isLog, 'label-warning':isWarning, 'label-info':isNotice()||isStrict(), 'label-important':isError}")
                td
                    strong(data-bind="text:message")
                    | &nbsp;

                    span.muted(data-bind="text:file")
                    | :
                    span.muted(data-bind="text:line")
            tr(data-bind="if:$root.currentItem() === $data, visible:$root.currentItem() === $data")
                td(colspan="2")
                    pre(data-bind="visible:body, text:body")
                    pre(data-bind="visible:trace, text:trace")
                    .muted(data-bind="visible:!trace()") No trace

    .modal-backdrop(data-bind="click:onCloseCodeClick, css:{hide:!codeShown()}")
    .modal(data-bind="css:{hide:!codeShown()}")
        .modal-header
            button.close(data-bind="click:onCloseCodeClick") &times;
            h3 PHP code
        .modal-body
            pre(data-bind="text:phpCode")



    script(src="/socket.io/socket.io.js")
    script(src="browserify.js")
