button.btn.btn-mini(data-bind="click:toggleAll, css:{active:all}") All
.btn-group
    button.btn.btn-mini(data-bind="click:toggleError, css:{active:error}") Errors
    button.btn.btn-mini(data-bind="click:toggleWarning, css:{active:warning}") Warnings
    button.btn.btn-mini(data-bind="click:toggleLog, css:{active:log}") Logs